* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(134, 167, 77);
}

h1 {
    font-size: 2.5rem;
}

#turn {
    
}

#begin {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

#hitBtn {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    position: absolute;
    top: 65%;
    right: 17%;
    font-size: 1.5rem;
}

#stayBtn {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    display: inline-block;
    top: 73%;
    right: 18%;
    font-size: 1.5rem;
}

.dealer-container {
    /* background-color: white; */
    border-width: 10px;
    margin: 20px;
}

.player-container {
    /* background-color: white; */
    border-width: 2px;
    margin: 20px;
}


#message {
    font-size: 2rem;
}

/* master branch something to test */