* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Monoton', cursive;
    background-color: rgb(134, 167, 77);
}

h1 {
    
}

#turn {
    
}
#begin {
    
}

button {
    font-family: 'Monoton', cursive;
    margin: 10px;
}

.dealer-container {
    background-color: white;
    border: 2px;
}

.player-container {
    background-color: white;
    border: 2px;
}
